<div class="block card row-hover pos-relative py-3 px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-0">
    <div class="row align-items-center">
      <div class="col-md-8 mb-3 mb-sm-0">
        <h5>
          <h3 href="#" class="text-primary">{{task?.name}}</h3>
        </h5>
        <p class="text-md">{{task?.notes}}</p>
      </div>
      <div class="col-md-4 op-7">
        <div class="row text-center op-7">
          <span class="d-block text-uppercase font-weight-bold">{{task?.status}}</span>
        </div>
      </div>
    </div>
</div>