<div class="create-form">
<form class="text-center border border-light p-5" action="#!">

    <p class="h4 mb-4">Create task</p>

    <div class="form-row mb-4">
        <div class="col">
            <!-- Task name -->
            <input type="text"class="form-control" [(ngModel)]="taskName" name="taskName" placeholder="Name">
        </div>
        <hr>    
        <app-select-status (statusChanged)="onStatusChange($event)"></app-select-status>
    </div>

    <!-- Notes -->
    <textarea class="form-control" [(ngModel)]="taskNotes" name="taskNotes" rows="6" placeholder="Notes"></textarea>

     <!-- Create -->
    <button class="btn btn-info my-4 btn-block" type="submit" (click)="onTaskCreate()">Create</button>
</form>
</div>